body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
}

header img {
    text-align: center;
    width: 40px;
    margin-right: 10px;
}

header {
    text-align: center;
    background-color: red;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    text-align: center;
    color: white;
    text-decoration: none;
}

nav {
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

body p {
    padding-left: 30px;
}

main {
    padding-left: 30px;
}