body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
}

p {
    font-size: 2em;
}

header img {
    text-align: center;
    width: 40px;
    margin-right: 10px;
}

header {
    text-align: center;
    background-color: red;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    text-align: center;
    color: white;
    text-decoration: none;
}

nav {
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

main {
    padding-left: 30px;
    padding-right: 30px;
}

main h2 {
    font-size: 40px;
}

.contactus p {
    margin: 0 30px 30px 30px;
}

.contactus p a {
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contactus p a:hover {
    color: black;
}

.click-here a {
    text-decoration: none;
    color: red;
}

.contactus-button {
    text-align: center;
}

.contactus-button a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: red;
}

.picture2 img {
    float: right;
}

.the-team h3 {
    font-size: 25px;
}

.the-team {
    clear: left;
}

main h3 {
    font-size: 25px;
}

main img {
    width: 50%;
    float: left;
    margin-left: 50px;
    margin-right: 20px;
}

footer {
    clear: both;
    text-align: center;
    color: white;
    background-color: red;
    padding: 30px 0;
}

footer p {
    margin: 0;
    font-weight: bolder;
}